img { 
    float: left;
    height: 300px;
    width: 300px;
}

h1 {
    border-bottom-style: inset;
}

.entre-letras {
    letter-spacing: 0.5em;
}

.alinha-direita {
    text-align: right;
}

#btReset {
    padding: 10px;
    width: 150px;
    background-color: orange;
    border-radius: 10px;
    letter-spacing: 3px;
    font-weight: bolder;
    margin-left: 50px;
}